body{

background-color: #a52a2a;
text-align: center;
font-size: medium;
font-style: oblique;
}
input{
    color: brown;
}
button{
  color: coral;
}


input{
  list-style: inside;
  text-shadow: 0cqmax;
}
input{
border: 0cqmax;
}